@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Merriweather", sans-serif;
}

:root {
    --main-color: #088179;
    --dark-color: #222222;
    --parg-color: #666666;
    --dark-red: #d01418;
    --border-color: #6666662a;
    --name-item: #0066c0;
}

body {
    background: #f5f6f9;
    margin-top: 180px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--dark-color);
}

p {
    color: var(--parg-color);
}

.Name h1 {
    font-size: 50px;
    display: flex;
    width: 95%;
    left: 275px;
    position: relative;
    margin-bottom: 10px;
    top: 20px;
}

.Name span{
    color: var(--main-color);
}


/* start sidebar */

.slider .container {
    position: absolute;
    width: 250px;
    height: auto;
    background: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-right: 2px solid #888888;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    left: 20px;
    top: 20px;
}


.side_bar h2 {
    font-size: 20px;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 10px;
    margin-bottom: 15px;
    text-decoration: none;
}

.box {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    height: auto;
}

.box h3 {
    font-size: 18px;
    color: var(--main-color);
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.box .arrow-left{
    position: absolute;
    size: 10px;
    width: 100%;
    left: 8px;
    text-decoration: none !important;
}

.arrow-left a {
    position: absolute;
    color: var(--dark-color);
    text-decoration: none !important;

}

.category-list,
.price-filter {
    list-style: none;
    padding: 0;
}

.category-list li,
.price-filter li {
    padding: 8px 0;
}

.category-list li a {
    text-decoration: none;
    color: var(--dark-color);
    display: block;
    transition: color 0.5s ease-in-out;
    position: relative;
}

.category-list li a:hover {
    color: var(--main-color);
}

.price-filter li {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.brand {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.brand:hover {
    transform: scale(1.05);
}

.brand div {
    margin-left: 10px;
}

.brand a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

.brand span {
    font-size: 12px;
    color: var(--main-color);
}


.category {
    list-style: none;
    padding: 0;
}

.category li {
    background: #ffffff;
    padding: 0 auto;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 15px;
}

.has-submenu {
    position: relative;
    cursor: pointer;
}

.subcategory {
    position: absolute;
    left: 100%;
    top: 0;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    min-width: 150px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    z-index: 1000;

}


.has-submenu:hover .subcategory {
    display: block;
}

/* end sidebar */

/* start products */

.products-container {
    grid-template-columns: repeat(5, 1fr);
    width: 85%;
    gap: 20px;
    display: flex-box;
    justify-content: space-between;


}

.products {
    position: relative;
    width: 100%;
    left: 270px;
    height: auto;
    right: 0;
    padding: 20px;
    flex: 1;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.banners {

    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 96%;
    left: 270px;
    position: relative;
    margin: 20px;
}


.banners a{

    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    position: relative;
}

hr{

    width: 95%;
    left: 300px;
    position: relative;
}

.posters{
    display: flex;
    width: 90%;
    left: 270px;
    position: relative;
    margin: 20px;
    gap: 15px;
}

.posters a{

    display: flex;
    gap: 15px;
    width: 100%;
    position: relative;
}

.brand-products {
    text-align: center;
    margin: 30px auto;
    width: 80%;
    left: 270px;
    display: grid;
    position: relative;
}

.brands-name h3 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}

.brands-name h3 span {
    color: var(--main-color); 
}

.brand-img {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px; 
    justify-content: center;
    align-items: center;
}

.brand-img a {
    display: flex;
    justify-content: center;
}

.brand-img img {
    width: 100px; 
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
}

.brand-img img:hover {
    transform: scale(1.1); 
}
